{
    "ignored": [
        "node_modules",
        "bower_components",
        "dist",
        "build",
        "test",
        "tests",
        "example",
        "examples",
        "demo",
        "demos",
        "docs",
        "documentation",
        "doc",
        "document",
        "src/webapp/WEB-INF/layouts"
    ]
}